body{
    margin: 0%;
    padding: 0%;
    font-family: 'Google Sans',arial,sans-serif;
}

div#container-outer{
    /* margin: 10% 37%; */
    /* padding: 1%; */
    /* border: 1px solid black;  */
    max-width: 450px;
    margin: 220px auto;
}

div#container{
    /* max-width: 500px; */
    padding: 12% 7%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#container img{
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center; 
    font-weight: 100;   
    font-size: 30px;
}

h4{
    text-align: center;
    font-weight: 100;
}

p{
    color: gray;
}

a{
    text-decoration: none;
    color: #1c73e8;
}

input#email{
    width: 100%;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 4px;  
}

#forgot-email{
    display: block;
    text-decoration: none;
    margin: 10% 0;
}

#learn-more p{
    margin-bottom: 0;
}

#click{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

#click a{
    padding-top: 3px;
}

#click button{
    color: white;
    background-color: #1c73e8;
    width: 17%;
    height: 35px;
    border: 1px solid #1c73e8;
    border-radius: 4px;
}

#container-footer{
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}

#lang{
    padding-top: 3%;
}

select{
    border: 0;
    background-color: white;
}

#footer-nav{
    padding-right: 2px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    justify-content: space-between;
    padding-left: 10px;
}   

li a {
    color: gray;
}


@media only screen and (max-width: 600px) {
    
    body{
        padding: 0%;
        margin: 0%;
        /* background-color: green; */
    }

    div#container-outer{
        margin: 8% auto;
    }

    div#container{
        /* background-color: red; */
        border: 0; 
        /* padding: 10% 0%;  */
        padding: 0;
        top: 10px;
    }

    div#container img{
        width: 70px;
    }

    h1{
        font-size: 1.5em;
    }

    footer#container-footer{
        width: 100%;
        position: absolute;
        bottom: 0%;
        left: 0%;
        padding: 0;
    }
}